.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
}

.button {
    font-size: 18px;
    color: #ffffff;
    height: 48px;
    width: 20%;
    background-color: #ff5a5f;
    border: none;
    border-radius: 4px;
    top: 11px;
    right: 30px;
    position: absolute;
}

.button:hover {
    opacity: .9;
    display: inline-block;
}

.locations {
    border-right: 1px solid #dddddd;
}
.amenities,
.locations {
    display: inline-block;
    height: 100%;
    width: 25%;
    text-align: left;
    margin: 0;
}

.amenities h3,
.locations h3 {
    font-weight: 600;
    margin: 12px 45px 2px;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px 45px;
}